
.logo img{
  max-width: 120px;
  height: auto;
}

.nav-item a{
  color: #2c2c2c;
  font-size: 16px;
  text-transform:capitalize;
  font-weight: 400;
  transition: all .42s ease;
}

.nav-item a:hover{
  color: #EE1C47;
}

.nav-icon a{
  color: #2c2c2c;
  font-size: 25px;
  font-weight: 400;
  transition: all .50s ease;
}

.nav-icon a:hover{
  transform: scale(1.1);
  color: #EE1C47;
}


