<nav class="navbar navbar-fixed-top navbar-expand-sm navbar sticky-top pt-0">
  <div class="container-fluid shadow-lg p-3 mb-0 bg-body-tertiary rounded">
    <a class="navbar-brand" href="javascript:void(0)"
      style="color: #EE1C47; font-weight: 700;font-family: emoji;">P&T</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar"
      (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="router-link-active" [routerLink]="['/home']"
            (click)="isCollapsed = !isCollapsed">Home</a>
        </li>
        <li class="nav-item navbar-collapse">
          <a class="nav-link">Shops</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']" (click)="productPage()">Products</a>
        </li>
      </ul>

      <ul class="navbar-nav searchbar">
        <li class="nav-item nav-icon">
          <!-- <a class="nav-link"><i class="bx bx-search"></i></a> -->
          <form class="example-form">
            <mat-form-field class="example-full-width" style="margin-bottom: -1.25em" appearance="outline">
              <input type="text" placeholder="Search for Products and more" aria-label="Number" matInput
                [formControl]="myControl" [matAutocomplete]="auto">
              <mat-icon matPrefix>search</mat-icon>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
                  {{option.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </li>
      </ul>
      <!-- <form class="d-flex" style="padding-right: 20px;">
        <input class="form-control input-lg" type="text" placeholder="Search">
        <a href=""><i class="bx bx-search"></i></a>
      </form> -->
      <ul class="navbar-nav">
        <li class="nav-item nav-icon">
          <a class="nav-link" (click)="openDialog()"><i class="bx bx-user"></i></a>
        </li>
        <li class="nav-item nav-icon">
          <a class="nav-link" [routerLink]="['/checkout-cart']" (click)="productPage()">
            <span class="my-custom-badge-accent" matBadge={{badgeCount}} matBadgePosition="above" matBadgeSize="medium"
              [matBadgeHidden]="this.badgeCount == ''">
              <mat-icon>add_shopping_cart</mat-icon>
            </span>
          </a>
        </li>
        <li class="nav-item nav-icon">
          <a class="nav-link"><i class='bx bx-log-out-circle bx-rotate-90'></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

@if(this.showHomePage){
<section class="main-section">
  <app-home></app-home>
</section>
}