<div class="row m-4 site-nav-container">
  <div class="col-4 logo-container">
    <img
      src="https://media.istockphoto.com/id/1150644423/vector/online-shop-logo-design-template.jpg?s=612x612&w=0&k=20&c=Cri_aW_GNW9sRmN7m4g31ClyQdkE56EgjPTzCrsmqng="
      class="secureIcon" width="100" height="100">
    <!-- <h6 style="color: #EE1C47">P&T</h6> -->
  </div>
  <div class="col-4 status-bar" style="color: #696b79;letter-spacing:3px;">
    <div class="row justify-content-start checkout-steps">
      <div class="col-1">
        <p class="step1 active" style="cursor: pointer;">BAG</p>
      </div>
      <div class="col-3 pe-0">
        <span class="divider"></span>
      </div>
      <div class="col-2">
        <p class="step2" style="cursor: pointer;">ADDRESS</p>
      </div>
      <div class="col-3 pe-0">
        <span class="address-divider"></span>
      </div>
      <div class="col-2">
        <p class="step3 address-active" style="cursor: pointer;">PAYMENT</p>
      </div>
      <div class="col-1">
      </div>
    </div>
  </div>
  <div class="col-4 status-bar-secure">
    <div class="secureContainer">
      <img src="https://constant.myntassets.com/checkout/assets/img/sprite-secure.png" class="secureIcon" width="26"
        height="28">
      <div class="secure">&nbsp;100% SECURE</div>
    </div>
  </div>
</div>
@if(this.cartDetailsData && cartDetailsData.length > 0){
<section class="cart-section mt-5">
  <div class="container">
    <div class="row cart-header">
      <div class="col-4 text-start">
        <h6>Total: <span style="color: #EE1C47">{{this.badgeCount}} Items</span></h6>
      </div>
    </div>
  </div>
  <div class="container main-top-section">
    <div class="row main-section">
      <div class="col-7 sub-section">
        @for (item of this.cartDetailsData; track $index) {
        <mat-card class="product-card mt-3">
          <span class="d-flex" style="justify-content: end; margin-right: 10px;margin-top: 5px;">
            <mat-icon (click)="ondeleteCard($index)">close</mat-icon>
          </span>
          <mat-card-header style="padding-top: 0px !important;">
            <mat-card-title class="text-left" style="color: #EE1C47">P&T
              Collections</mat-card-title>
            <mat-card-subtitle>{{item.productName}}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content class="m-3 product-card">
            <div class="row outer-layout-section">
              <div class="col-2 layout-image">
                <img mat-card-image style="width: 100px; height: 140px;" [src]="item.thumbnailUrl" alt="Course 1">
              </div>
              <div class="col-4 layout-content">
                <div class="card-content-details">
                  <p>Color: BLACK MIX</p>
                  <p>Size: 38-33L</p>
                  <p>In Stock</p>
                  <p><span style="color: lightseagreen">7 days</span> return available</p>
                </div>
              </div>
              <div class="col-2">
                <div class="card-price-details">
                  <p>Price</p>
                  <p>{{ item.productPrice.toString() | currency : 'INR' : 'symbol': '1.2-2' : 'en-IN' }}</p>
                </div>
              </div>
              <div class="col-2">
                <div class="card-quantity-detail">
                  <p>Quantity:</p>
                  <mat-form-field appearance="outline" style="width: 80px;">
                    <mat-select [(ngModel)]="cartDetailsData[$index].selectedQuantity"
                      (ngModelChange)="quantityChange($index,$event,item)">
                      <mat-option *ngFor="let q of quantity" [value]="q.key">
                        {{q.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-2">
                <div class="card-totalprice-details">
                  <p>Total
                  <p>
                  <p style="font-weight: 600; font-size: large;">{{item.cartTotalPrice .toString() | currency : 'INR' :
                    'symbol': '1.2-2' :
                    'en-IN' }}</p>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-footer>
          </mat-card-footer>
        </mat-card>
        }
      </div>
      <mat-divider class="cart-divider" [vertical]="true"
        style="height:auto;border-right-style: dotted !important"></mat-divider>
      <div class="col-4 price-detail-section">
        <p class="fs-5 fw-bold text-uppercase mt-2" style="color: #EE1C47">Price
          Details&nbsp;<span class="text-lowercase">({{this.badgeCount}}&nbsp;Items)</span></p>
        <div class="row mt-3">
          <p>Enter Promo Code</p>
          <div class="col-6">
            <div class="form-group">
              <input class="form-control" [disabled]="disablePromocode" [(ngModel)]="promoCode"
                placeholder="Promo Code">
            </div>
          </div>
          <div class="col-6">
            <button type="button" class="btn btn-dark  btn-md" (click)="onPromoCodeSubmit()">Submit</button>
          </div>
          <a class="js-select-coupon-code mt-2" (click)="onPromoCodeSelection()">
            Select Promo Code <span class="fa fa-angle-right"></span>
          </a>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <p class="fw-light">Shipping</p>
          </div>
          <div class="col-6">
            <p class="fw-light">STANDARD DELIVERY</p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="fw-light">Total MRP</p>
          </div>
          <div class="col-6">
            <p class="fw-light">{{ this.orderDetailsData.totalMRP | currency : 'INR' : 'symbol': '1.2-2' : 'en-IN' }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="fw-light">Coupon Discount</p>
          </div>
          @if(this.orderDetailsData.CouponDiscount > 0){
          <div class="col-6">
            <p style="color: darkgreen;">-{{ this.orderDetailsData.CouponDiscount | currency : 'INR' : 'symbol':
              '1.2-2' : 'en-IN'}}</p>
          </div>
          }@else {
          <div class="col-6">
            <p style="color: darkgreen;">{{ this.orderDetailsData.CouponDiscount | currency : 'INR' : 'symbol':
              '1.2-2' : 'en-IN'}}</p>
          </div>
          }
        </div>
        <div class="row">
          <div class="col-6">
            <p class="fw-light">Platform Fee</p>
          </div>
          <div class="col-6">
            <p class="fw-light">{{this.orderDetailsData.platformFee | currency : 'INR' : 'symbol': '1.2-2' : 'en-IN'}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <p class="fw-light">Shipping Fee</p>
          </div>
          @if(this.orderDetailsData.shippingFee > 0){
          <div class="col-6">
            <p class="fw-light text-success">{{this.orderDetailsData.shippingFee | currency : 'INR' : 'symbol':
              '1.2-2'
              : 'en-IN'}}</p>
          </div>
          }@else {
          <div class="col-6">
            <p style="color: darkgreen;">FREE</p>
          </div>
          }
        </div>
        <mat-divider></mat-divider>
        <div class="row mt-2">
          <div class="col-6">
            <p class="fw-bolder">Total Amount</p>
          </div>
          <div class="col-6">
            <p class="fw-bolder">{{this.orderDetailsData.totalAmount | currency : 'INR' : 'symbol': '1.2-2' :
              'en-IN'}}
            </p>
          </div>
        </div>
        <div class="row m-2">
          <button type="button" class="btn text-white place-order" (click)="placeOrder()">PLACE
            ORDER</button>
        </div>
      </div>
    </div>
  </div>
</section>
}@else {
<div class="container">
  <div class="row empty-bag">
    <h5 class="text-center">Hey, it feels so light!</h5>
    <p class="text-center text-secondary">There is nothing in your bag.Let's add some items.</p>
  </div>
</div>
}