<section class="trending-collections">
  <h3 class="text-center p-3"> Men's <span style="color: #EE1C47;">Collections</span></h3>
  <div class="container">
    <div class="row">
      @for (item of this.productData; track $index) {
      <div class="col-12 col-lg-3 col-md-4 col-sm-6">
        <div class="card product-img shadow-lg mt-4">
          <img class="img-fluid rounded" [src]="item.thumbnailUrl" style="cursor: pointer;"
            (click)="triggerSpecificProduct(item)" alt="Course 1" />
          <div class="card-body" style="padding:10px !important">
            <h5 class="card-title text-danger" style="cursor: pointer;" (click)="triggerSpecificProduct(item)">
              {{item.productName}}</h5>
            <p class="text-muted" style="padding: 0px;margin: 0px;cursor: pointer;"
              (click)="triggerSpecificProduct(item)">Men Lounge T-shirt</p>
            <div class="heart-icon">
              <!-- <i class="bx bx-heart"></i> -->
              <span class="text-muted mb-3" style="cursor: pointer;"
                (click)="triggerSpecificProduct(item)">Sizes:&nbsp;{{item.sizes}}</span>
            </div>
            <div class="rating">
              <i class="bx bx-star"></i>
              <i class="bx bx-star"></i>
              <i class="bx bx-star"></i>
              <i class="bx bx-star"></i>
              <i class="bx bxs-star-half"></i>
            </div>
            <div class="price">
              <p style="margin-bottom: 0px !important; font-weight: 700;color:#EE1C47">
                {{ item.productPrice.toString() | currency : 'INR' : 'symbol': '1.2-2' : 'en-IN' }}
              </p>
            </div>
            @if(availableInCart(item) || item.isAvailableInCart){
            <div class="cart mt-2 mb-1 text-white bg-danger" (click)="removeCart(item,$index)"><button
                class="btn cart-btn" style="color: white !important;">Remove From
                Cart</button></div>
            }@else {
            <div class="cart mt-2 mb-1 text-white bg-warning" (click)="addCart(item,$index)"><button
                class="btn cart-btn">Add To
                Cart</button></div>
            }
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</section>