/* You can add global styles to this file, and also import other style files */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior: smooth;
  font-family: 'Jost', sans-serif;
  list-style: none;
  text-decoration: none;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container {
  &.success-dialog-snackbar {
    --mdc-snackbar-container-color: #d8363a;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
    margin: 0 !important;
    position: absolute;
    bottom: 450px;
    right: 580px;
  }} 
  .mat-mdc-snack-bar-container {
    &.error-dialog-snackbar {
      --mdc-snackbar-container-color: darkred;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
    }}

// Checkout Cart Stepper 
@mixin styleStepLine($index) {
  .mat-horizontal-stepper-header {
      &+.mat-stepper-horizontal-line:nth-child(#{$index}) {
          height: 3px;
          background-image: linear-gradient(to right, #03830b, #03830b);
      }
  }
}

@mixin styleEditedStepIcon($index) {
  .mat-horizontal-stepper-header:nth-child(#{$index}) {
      .mat-step-icon:not(.mat-step-icon-selected) {
          background-color: red;
      }
  }
}

@mixin styleUnEditedStepIcon($index) {
  .mat-horizontal-stepper-header:nth-child(#{$index}) {
      .mat-step-icon:not(.mat-step-icon-selected) {
          background-color: #e8e8e8;
      }
  }
}

.last-edited-step-1 {
  @include styleStepLine(2);
}

.last-edited-step-2 {
  @include styleStepLine(2);
  @include styleStepLine(4);
}

.backdropBackground {
  filter: blur(20px);
  opacity: 0.7 !important;
}